*~
.*.swp
*.[oa]
*.l[oa]
*.so
*.libs
*.deps
.dirstamp
libtool
aclocal.m4
autom4te.cache
config
config.log
config.guess
config.status
config.sub
configure
cpputest/*.log
cpputest/*.trs
cpputest/*_tester
debian/files
debian/tmp
debian/tmpsrc
debian/vyatta-cfg
debian/vyatta-cfg.postinst
debian/vyatta-cfg.postrm
debian/libvyatta-cfg-dev
debian/libvyatta-cfg-dbg
debian/libvyatta-cfg1
debian/*.log
debian/*.substvars
debian/*.debhelper
debian/stamp-*
debian/libvyatta-cfgclient-perl/
debian/python3-vyatta-cfgclient/
debian/ruby-vyatta-cfgclient/
debian/vyatta-*-yang/

doxygen_sqlite3.db
INSTALL
Makefile.in
Makefile
src/my_commit
src/my_set
src/my_delete
src/check_tmpl
src/dump
src/exe_action
src/priority
src/net_set
src/vcfgfs
src/cli_def.c
src/cli_parse.c
src/cli_parse.h
src/cli_val.c
src/client/perl/Configd.pm
src/client/python/configd.py
src/client/python3/configd.py
src/cparse/cparse.cpp
src/cparse/cparse.h
src/cparse/cparse_lex.c
src/configd/configd
src/configd/configd_trial
tools/rl_passwd
cli/
debian/vyatta-configd/
debian/vyatta-configd-trial/
debian/python-vyatta-cfgclient/
man/
